@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');



.website-colors{
    --primary-color:#40d0c6;
}

.navbar-nav{
    --bs-nav-link-padding-y: 0rem;
    color: white;
}

.news-headline-nav{
    background-color: rgba(64,208,198,255);
 
}

nav.headline-nav a.news-headline-nav{
    color:white;
    font-size: 15px;
    
    
}

nav.headline-nav a.nav-link{
    color:white;
    font-size: 15px;
    
    
}

nav.headline-nav a.nav-link{
    color:white;
    
    
}

nav.headline-nav a.set-border{
    border-right: 1px solid white;
   
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:  rgba(64,208,198,255);
}

li.alignment a i{
    text-align: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}


nav.navbar a.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}


.navbar-collapse {
    flex-grow: 0;
}


.fi-rr-doctor{
    color: rgba(64,208,198,255);
    margin-right: 15px;
    font-size: 40px;
}

div.container-fluid a.navbar-brand span.colorchange{
    color: rgba(64,208,198,255);
}

a.showapps{
    text-decoration: none;
}

li.hamburger-icon{
    list-style-type: none;
}

.material-symbols-outlined{
    display: flex;
    align-items: center;
    color:rgba(137,137,137,255);
    border: 1px solid rgba(137,137,137,255);

}

.form-control {
    border-radius: 50px;

}






  
/* Set a style for the buttons*/ 

/* Set a hover effect for the button*/ 

/* Set extra style for the cancel button*/ 


.search-box {
    position: relative;
}
  
.search-box i{
    position: absolute;
    right: 15px;
    top: 9px;
    color: rgba(64,208,198,255);

}
































.navbar-nav .nav-item {
    margin-right: 10px; /* Adjust the margin as needed */
}

.vertical.carousel .carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    opacity: 1;
    border-radius: 50%;

}

.carousel-indicators button.active{
    background-color: rgba(64,208,198,255);
}




div.hero-section-1{
    position: relative;
}


div.hero-section-1 .carousel-caption{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}



div.hero-section-1 .carousel-caption h5{
    position: relative;
    margin-left: 20px;
}




div.hero-section-1 .carousel-caption h5:before{
    position: absolute;
    content: "";
    display: block;
    background-color:rgba(64,208,198,255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -20px;
}

div.hero-section-1 .carousel-caption h5:after{
    position: absolute;
    content: "";
    display: block;
    background-color:rgba(64,208,198,255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 220px;
}



















.carousel-caption {
    text-align: left;
}
.carousel-caption h2 {
    font-size: 50px;
    font-weight: 600;
}
.carousel-caption h2 span {
    color:  rgba(64,208,198,255);
}

.carousel-paragraph-1{
    margin-top: 20px;
    margin-bottom: 5px;
}

.carousel-anchor-button{
    display: flex;
    align-items: center;
}
.carousel-anchor-button a{ 
    text-decoration: none;
    color: white;
    background-color: rgba(64,208,198,255) ;
    border: 10px solid  rgba(64,208,198,255);
    border-radius: 40px;
    padding:0 15px;
    font-size: 15px;
    font-weight: 600;
}

.fi-ss-pharmacy{
    font-size: 12px;
    margin-left: 15px;
}







/* Accordion Owl Carousel*/ 
.owl-item > div {
    cursor: pointer;
    margin: 0 8%;
    padding: 10% 0;
    transition: margin 0.4s ease;
    border-bottom: 3px solid rgba(64,208,198,255);
}
.owl-item.center > div {
    cursor: auto;
    margin: 0;
    background-color:  rgba(64,208,198,255);
    color: white;
}


.owl-item.center > div a {
    color: white;
}

.owl-item.center > div i {
    color: white;
}

 
.owl-item:not(.center) > div:hover {
    opacity: .75;
    
}

.text-decoration h2{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.text-decoration a{
  display: flex;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
  pointer-events: none;
}
.text-decoration a i{
  color: black;
  font-size: 20px;
}

.text-decoration i{
  color: rgba(64,208,198,255);
}

.owl-nav{
    display: flex;
    justify-content: center;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    margin: 0 30px;
    font-size: 30px;
}



/* Another */ 
.About-Medical-World-Center-Section{
    margin-top: 100px;

}

.About-Medical-World-Center-Section img{
    border-radius: 5%;
}



.About-Medical-World-Center-Section .card-content-1 .line-1{
    margin-top: 20px;
    height: 4px;
    background-color: rgba(64,208,198,255);
}
.About-Medical-World-Center-Section .card-content-1 .line-2{
    margin-top: 10px;
    height: 4px;
    background-color:  rgba(64,208,198,255);
}
.About-Medical-World-Center-Section .card-content-2 h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 20px;
    padding: 15px 5px;
    border: 5px solid white;
    background-color: rgba(64,208,198,255);
    border-radius: 25px;
    color: white;
    margin-left: -50px;
}
.About-Medical-World-Center-Section .card-content-2 img.image-top-margin{
    margin-top: 25px;
}

.About-Medical-World-Center-Section .card-content-3{
    margin-top: 25px;
}
.About-Medical-World-Center-Section .card-content-3 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 30px;
}



.About-Medical-World-Center-Section .card-content-3 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;

}
.About-Medical-World-Center-Section .card-content-3 h2 span{
    color: rgba(64,208,198,255);

}



.About-Medical-World-Center-Section .card-content-3 p{
    margin-top: 30px;
    margin-bottom: 30px;

}



.About-Medical-World-Center-Section .card-content-3 .fi-br-check{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-right: 10px;
    color: rgba(64,208,198,255);


}




.About-Medical-World-Center-Section-anchor-button{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.About-Medical-World-Center-Section-anchor-button a{ 
    text-decoration: none;
    color: white;
    background-color: rgba(64,208,198,255) ;
    border: 10px solid  rgba(64,208,198,255);
    border-radius: 40px;
    padding:0 15px;
}















/* Counter App */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.Counter-animation{
    margin-top: 100px;
}


.counterapp-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.counterapp-col{
    text-align: center;
    color: #555;
}
.counterapp-col .blue-color{
    background-color: rgba(7,30,64,255);
    color: white;
}
.counterapp-col .blue-color h2.counter{
    color: white;
}

.counterapp-col .blue-color span{
    color: white;
}


.counter-box{
    width: 100%;
    height: 100%;
    background: rgba(244,248,249,255);
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -4px #66676c;
}
.counterapp-col h2,span.counterapp-span{
    display: inline-block;
    margin: 15px 0;
    font-size: 50px;
    color: #000;
}
.counter-box .fa{
    font-size: 40px;
    color: rgba(64,208,198,255);
    display: block;
}

.counter-box .fi{
    font-size: 40px;
    color: rgba(64,208,198,255);
    display: block;
}




/* Cards-section */

.card {
    border-radius: 0;
    border: none;
    margin-top: 30px;
    padding-top: 25px;
}


.card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.Medical-services-cards-section{
    background-color: rgba(244,248,249,255);
    margin-top: 50px;
}



.Medical-services-cards-section .Card-content .card-main-icon i{ 
    margin-right: 25px;
    font-size: 40px;
    color: rgba(64,208,198,255);
}

.Medical-services-cards-section .services-card-heading h5{
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}
.Medical-services-cards-section .services-card-heading h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.Medical-services-cards-section .services-card-heading h2 span{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: rgba(64,208,198,255);
}




.Medical-services-cards-section .Card-content h5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.Medical-services-cards-section .Card-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.Medical-services-cards-section .Card-content a.card-button {
    display: flex;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.Medical-services-cards-section .Card-content a.card-button i.card-button-icon {
    color: black;
    font-size: 20px;
}



.Second-card-row{
    padding-bottom: 50px;
}








/* Video Content Section */

.Video-section .Video-section-inner-text{
    border-bottom: 1px solid black;
}
.Video-section-inner-text .first-half-section .section-logo i.video-content-section-logo{
    margin-left: -180px;
    color: white;
    font-size: 120px;
}




.Video-section-inner-text .first-half-section .content{
    font-family: 'Poppins', sans-serif;
}
.Video-section-inner-text .first-half-section .content h5{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.Video-section-inner-text .first-half-section .content h2{
    font-size: 35px;
    font-weight: 700;
}

.Video-section-inner-text .first-half-section .content h2 span{
    color: rgba(64,208,198,255);

}

.Video-section-inner-text .first-half-section .content p{
    margin-bottom: 25px;
    font-size: 18px;
}


.Video-section-inner-text .second-half-section{
    font-family: 'Poppins', sans-serif;
}
.Video-section-inner-text .second-half-section .Section-image{
    display: flex;
}




.Video-section-inner-text .second-half-section .Section-image img{
    margin-top: 30px;


}


.Video-section-inner-text .second-half-section .section-image-content{
    margin-top: 30px;
    margin-left: 30px;

}
.Video-section-inner-text .second-half-section .section-image-content h4{
    font-size: 25px;
    font-weight: 700;
    color: black;

}






.Video-section-inner-text .second-half-section .content{
    margin-top: 15px;

}
.Video-section-inner-text .second-half-section .content p{
    font-size: 15px;
}
.Video-section-inner-text .second-half-section .content p i{
    font-size: 15px;
    font-weight: 800;
    margin-right: 10px;
    color: rgba(64,208,198,255);
}
















/* Video Plugin */




* {
 box-sizing: border-box;
}

body {
 font-family: "Poppins", sans-serif;
 color: #444;
 box-sizing: border-box;
 margin: 0px;
}




img {
 max-width: 100%;
}


/**Typeo CSS End**/
.video-custom {
 margin:0;
 max-width: 100%;
 position: relative;
 padding: 0;
 
}

.img-black-bg {
    background: black;
}
.video-custom .img-black-bg .poster-img {
    display: block;
    opacity: 1;
}

.video-custom video {
 position: absolute;
 left: 0px;
 top: 0px;
 display: block;
 width: 100%;
 height: 100%;
 opacity: 0;
 background-color: black;
}

.video-custom .play-btn {
 border: 20px solid rgba(7,30,64,255);

}
.video-custom .pause-btn {
 border: 20px solid rgba(7,30,64,255);


}


.video-custom .play-btn, .video-custom .pause-btn {
 position: absolute;
 right: 0px;
 bottom: 0px;
 margin: auto;
 width: 100px;
 height: 100px;
 background-color: rgba(64,208,198,255);
 z-index: 3;
 cursor: pointer;
 transition: 0.5s all;
 overflow: hidden;

}

.video-custom .pause-btn {
 display: none;

}

.video-custom .play-btn i {
 width: 0;
 height: 0;
 border-style: solid;
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-left: 18px solid white;
 border-right: 0;
 position: absolute;
 left: 0px;
 right: 0px;
 bottom: 0px;
 top: 0px;
 margin: auto;

}

.pause-btn i {
 position: absolute;
 left: -3px;
 right: 0px;
 bottom: 0px;
 top: 2px;
 margin: auto;
 width: 16px;
 height: 24px;
 flex-flow: row wrap;
}

.pause-btn i:before {
 content: '';
 width: 4px;
 height: 100%;
 background-color: white;
 display: inline-block;
}

.pause-btn i:after {
 content: '';
 width: 4px;
 height: 100%;
 margin-left: 8px;
 background-color: white;
 display: inline-block;
}

.playvideo .video-custom img {
 opacity: 0;
}

.playvideo .video-custom video {
 opacity: 1;
}

.video-custom .vplay {
 display: none;
}

.video-custom:hover .vplay + .pause-btn {
 display: block;
}

/***Volume Control***/
html:not(.playvideo) .sound-ctrl {
 display: none;
}

.sound-ctrl {
 position: absolute;
 z-index: 2;
 left: 14px;
 bottom: 5px;
 cursor: pointer;
}

.sound-ctrl .on-button {
 display: none;
}

.sound-ctrl img {
 opacity: 0;
}

.sound-ctrl .off-button, .sound-ctrl .on-button {
 position: absolute;
 right: 0;
 left: 0px;
 top: 0px;
 font-size: 0px;
 background-color: transparent;
 border: none;
 width: 100%;
 height: 100%;
 padding: 0px;
 cursor: pointer;
}

.soundctrlshow .on-button {
 display: block;
}

.soundctrlshow .off-button {
 display: none;
}

.playvideo .video-custom .sound-ctrl img {
 opacity: 1;
}

.soundctrlshow .on-button:before {
 content: '';
 position: absolute;
 left: 12px;
 top: -5px;
 z-index: 10;
 width: 3px;
 height: 32px;
 background-color: #fff;
 transform: rotate(45deg);
}

/***Volume Control***/
@media(max-width:800px) {
 .video-custom {
  width: 100%;
 }

}























































































/*MEDIA QUERIES*/





@media screen and (max-width: 350px) {
 
    .About-Medical-World-Center-Section .card-content-2 h3{
        padding: 10px 5px;
        margin-left: 0;
    }
    





}
@media screen and (max-width: 366px) {
 
    nav.headline-nav a.news-headline-nav{
        display: none;
    }





}
@media screen and (max-width: 576px) {
 
    .About-Medical-World-Center-Section .card-content-2 h3{
        padding: 10px 5px;
        margin-left: 0;
    }
    





}
@media screen and (max-width: 992px) {
 
    .material-symbols-outlined{
        border: none;
    }
    nav.headline-nav a.set-border{
        border: none;
    }
  
    





}
@media screen and (min-width: 576px) {
    .About-Medical-World-Center-Section .card-content-2 h3{
        padding: 15px 5px;
        margin-left: -50px;
    }

    

}
@media screen and (max-width: 1630px) {

    .Video-section-inner-text .first-half-section .section-logo i.video-content-section-logo{
        margin-left: 0px;
        color: white;
        font-size: 0px;
    }
    
    

    

}
